

.banner__68edb::before {
    display: none;
}

.background_fb62e2 {
  background-color: var(--background-accent-gradient) !important;
}

.banner__68edb {
  background-color: var(--background-primary-alt) !important;
}
